* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-colo: #171a1d;
  --red-color: #cf1f1f;
  --gray-color: #aaaaaa;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-colo);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Set a background color and add some padding to the navbar */
.navbar {
  background-color: #f8f9fa;
  padding: 20px;
  width: 100%;
  z-index: 20;
}
.hide-nav {
  transform: translateY(-100%);
  transition: all 0.5s ease;
}
.scrolled a {
  max-width: 50%;
  justify-content: start !important;
  padding-left: 50px;
  align-items: flex-start;
}

.scrolled a img {
  width: 50px;
  height: auto;
}

.scrolled #navbarNav {
  max-width: 50%;
}

/* Style the navbar-brand (logo) and make it bold */
.navbar-brand {
  margin-right: 0 !important;
}
.navbar-brand img {
  width: 70px;
  height: auto !important;
}

/* Style the navigation links */

.navbar-nav .nav-link {
  color: #212529;
  font-weight: bold;
  margin-left: 20px;
}
/* Add some margin to the right of the last navigation link */
.navbar-nav .nav-link:last-child {
  margin-right: 0;
}

/* Change the color of the active navigation link */
.navbar-nav .nav-link.active {
  color: #007bff;
}

nav {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
  transition: all 0.5s ease;
}
.arrow {
  cursor: pointer;
}
.arrow-rot {
  transform: rotate(180deg);
}
.showNavBar {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%) !important;
}

/* end of tha nav bar */

/* social links  */
.social .social-links {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.social .social-links a {
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
}
.social .social-links p {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  color: var(--gray-color);
  writing-mode: vertical-rl;
  font-size: 15px;
  transform: rotate(-180deg);
}

.social .social-links svg {
  color: var(--red-color);
  transition: all 0.3s ease;
}

.social .social-links svg:hover {
  opacity: 0.8;
}

/* section 1 */
#about {
  padding: 100px 0;
  padding-top: 200px;
}

#about .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#about .container .row {
  position: relative;
}

#about #skills {
  color: var(--red-color);
  border-right: 1px solid var(--red-color);
  padding-right: 5px;
}

#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--red-color);
}

#about p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--gray-color);
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #about .container {
    flex-direction: column;
    align-items: center;
  }

  #about img {
    margin-right: 0;
    margin-bottom: 20px;
    order: 1;
  }
}

/* skills */
.circle {
  width: 200px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle canvas {
  vertical-align: top;
  width: 200px !important;
  height: auto !important;
}

.circle strong {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: black;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}

/* section 2 */

#projects {
  background-color: #f9f9f900;
  padding: 60px 0;
}

#projects .fullscreen {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  width: 50vw;
  height: 100vh;
  object-fit: contain;
}

#projects h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  color: var(--red-color);
}

.project {
  padding: 20px;
  text-align: left;
  margin-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  filter: brightness(50%);
  transition: all 0.2s ease;
}

.project:hover img {
  filter: brightness(110%);
}
.project h3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color);
  line-height: 30px;
  padding: 0;
  line-height: 1.8em;
  word-spacing: 0px;
}

/* section 3 */
.stats-section {
  background-image: url("https://madebydesignesia.com/themes/kyros/images/background/3.jpg");
  padding: 60px 0;
  background-attachment: fixed;
  position: relative;
}
.de-gradient-edge-top {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    180deg,
    rgba(23, 26, 29, 1) 0%,
    rgba(23, 26, 29, 0) 100%
  );
}
.de-gradient-edge-bottom {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    0deg,
    rgba(23, 26, 29, 1) 0%,
    rgba(23, 26, 29, 0) 100%
  );
}
.stats-box {
  border-radius: 10px;
  padding: 40px 20px;
}

.stats-box h2 {
  font-size: 36px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  margin-bottom: 20px;
}

.stats-box p {
  font-size: 10px;
  color: rgb(126, 126, 126);
  font-weight: 700;
  margin-bottom: 0;
}

/* quote */
#quote {
  padding: 50px 0;
  width: 100%;
}

#quote svg {
  color: var(--red-color);
  width: 50px !important;
  float: left;
}

.quote-container {
  text-align: center;
  padding: 50px;
}

.quote {
  font-size: 24px;
  font-weight: bold;
  color: var(--gray-color);
  margin-bottom: 20px;
}

.author {
  font-size: 18px;
  font-style: italic;
  text-align: right;
  color: var(--gray-color);

}

.new-quote {
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}


/* contact me  */
.contact {
  background-image: url('https://img.freepik.com/free-photo/view-new-york-city-night-time_53876-144326.jpg?size=626&ext=jpg&ga=GA1.1.626380001.1647121578&semt=ais');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding:100px 50px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  text-align: center;
  color: var(--red-color);
}

.contact form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  z-index: 15;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.281);
  border-radius: 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.contact input[type="text"]::placeholder,
.contact input[type="email"]::placeholder,
.contact textarea::placeholder {
  color: #fff;

}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
  background-color: #f443361f;
  color: #fff;
  border-color: #f44336;
}

.contact button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--red-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.contact button[type="submit"]:hover {
  opacity: 0.9;
}

/* informations */
#contact {
  text-align: center;
}

#contact h4 {
  color: #fff;
}
#contact p {
  color: var(--gray-color);
}


/* footer */
footer {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10%;
}

footer .social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}

footer .social-links a:hover {
  color: var(--red-color);
}

.footer-container .copyright {
  font-size: 14px;
}





