@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chela One', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#wrapper {
    aspect-ratio: 1.618;
    width: 90vmin;
    position: relative;
}

#wrapper .shape {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgba(255 255 255 / 5%);
    transition: top, left, right, bottom, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}


/* here where the magic happens */

/* configuration 1 */

#wrapper[data-roundness='1']>.shape {
    border-radius: 6rem;
}

#wrapper[data-roundness='1']>.shape:nth-child(1) {
    left: 0;
    top: 0;
    height: 50%;
    width: 20%;
}

#wrapper[data-roundness='1']>.shape:nth-child(2) {
    left: 20%;
    top: 0;
    height: 50%;
    width: 30%;
}

#wrapper[data-roundness='1']>.shape:nth-child(3) {
    left: 50%;
    top: 0;
    height: 100%;
    width: 50%;
}

#wrapper[data-roundness='1']>.shape:nth-child(4) {
    left: 0;
    top: 50%;
    height: 50%;
    width: 30%;
}

#wrapper[data-roundness='1']>.shape:nth-child(5) {
    left: 30%;
    top: 50%;
    height: 50%;
    width: 20%;
}

#wrapper[data-roundness='1']>.shape:nth-child(6) {
    left: 70%;
    top: 50%;
    height: 50%;
    width: 30%;
}

#wrapper[data-roundness='1']>.shape:nth-child(7) {
    left: 85%;
    top: 75%;
    height: 25%;
    width: 15%;
}

/* configuration 2 */

#wrapper[data-roundness='2']>.shape {
    border-radius: 6rem;
}

#wrapper[data-roundness='2']>.shape:nth-child(1),
#wrapper[data-roundness='3']>.shape:nth-child(1) {
    left: 25%;
    top: 20%;
    height: 80%;
    width: 15%;
}

#wrapper[data-roundness='2']>.shape:nth-child(2),
#wrapper[data-roundness='3']>.shape:nth-child(2) {
    left: 40%;
    top: 20%;
    height: 50%;
    width: 10%;
}

#wrapper[data-roundness='2']>.shape:nth-child(3),
#wrapper[data-roundness='3']>.shape:nth-child(3) {
    left: 50%;
    top: 0;
    height: 100%;
    width: 25%;
}

#wrapper[data-roundness='2']>.shape:nth-child(4),
#wrapper[data-roundness='3']>.shape:nth-child(4) {
    left: 0;
    top: 0%;
    height: 50%;
    width: 10%;
}

#wrapper[data-roundness='2']>.shape:nth-child(5),
#wrapper[data-roundness='3']>.shape:nth-child(5) {
    left: 10%;
    top: 0%;
    height: 70%;
    width: 15%;
}

#wrapper[data-roundness='2']>.shape:nth-child(6),
#wrapper[data-roundness='3']>.shape:nth-child(6) {
    left: 75%;
    top: 10%;
    height: 80%;
    width: 15%;
}

#wrapper[data-roundness='2']>.shape:nth-child(7),
#wrapper[data-roundness='3']>.shape:nth-child(7) {
    left: 90%;
    top: 40%;
    height: 50%;
    width: 10%;
}

/* configuration 3 */

#wrapper[data-roundness='3']>.shape {
    border-radius: 0;
}


/* configuration 3 */

#wrapper[data-roundness='4']>.shape {
    border-radius: 50%;
}

#wrapper[data-roundness='4']>.shape:nth-child(1) {
    left: 0;
    top: 0;
    height: 200px;
    width: 200px
}

#wrapper[data-roundness='4']>.shape:nth-child(2) {
    left: 34%;
    top: 0;
    height: 200px;
    width: 200px
}

#wrapper[data-roundness='4']>.shape:nth-child(3) {
    left: 68%;
    top: 0;
    height: 200px;
    width: 200px
}

#wrapper[data-roundness='4']>.shape:nth-child(4) {
    left: 0;
    top: 55%;
    height: 200px;
    width: 200px
}

#wrapper[data-roundness='4']>.shape:nth-child(5) {
    left: 34%;
    top: 55%;
    height: 200px;
    width: 200px
}

#wrapper[data-roundness='4']>.shape:nth-child(6) {
    left: 68%;
    top: 55%;
    height: 200px;
    width: 200px
}

#wrapper[data-roundness='4']>.shape:nth-child(7) {
    left: 93%;
    top: 48%;
    height: 50px;
    width: 50px;
}